<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Study Jam</title>
</head>

<body>

    <div id="app">
        <h1>{{message}}</h1>
        <p>Characters list</p>
        <ul v-for="items in list">
            <li @click="fav.push(items)">{{items}}</li>
        </ul>
        <button @click="fav.sort()">Sort A-Z</button>
        <button @click="fav.reverse()">Sort Z-A</button>
        <button @click="fav.splice(0, fav.length)">Clear</button>
        <p>Faviortie Characters</p>
        <ul v-for="values in fav">
            <li>{{values}} <button @click="fav.pop(values)">remove</button></li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp } = Vue;
        const app = createApp({
            data() {
                return {
                    message: 'Bramayugam',
                    list: ["Mamooty", "Arjun Ashokan", "Siddharth", "Amalda Liz", "Manikanda Rajan"],
                    fav: []
                }
            },
            methods: {
            }
        }).mount('#app')
    </script>
</body>

</html>