<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js Study Jam</title>
</head>

<body>

    <div id="app">
        <h1>{{message}}</h1>
        <label for="">Enter characters name: </label>
        <input v-model="txt" type="text" placeholder="Please enter name">
        <button @click="list.push(txt)">Press me</button>
        <p>Characters list</p>
        <div v-if="list">
            <ul v-for="items in list">
                <li>{{items}} <button @click="fav.push(items)">⭐</button> <button @click="list.pop(items)">⛔</button></li>
            </ul>
        </div>
        <button @click="fav.sort()">Sort A-Z</button>
        <button @click="fav.reverse()">Sort Z-A</button>
        <button @click="fav.splice(0, fav.length)">Clear</button>
        <p>Faviortie Characters</p>
        <ul v-for="values in fav">
            <li>{{values}} <button @click="fav.pop(values)">⛔</button></li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp } = Vue;
        const app = createApp({
            // "Mamooty", "Arjun Ashokan", "Siddharth", "Amalda Liz", "Manikanda Rajan"
            data() {
                return {
                    message: 'Bramayugam',
                    list: [],
                    fav: []
                }
            },
            methods: {
               
            }
        }).mount('#app')
    </script>
</body>

</html>